.Empty-Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.Cook-Food {
  height: 250px;
  width: 250px;
}

.Cook-Food img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.Empty-Cart-Text p:first-child {
  font-weight: 800;
  margin: 0.75rem 0rem;
}

.Empty-Cart-Text p:nth-child(2) {
  color: #686b78;
  margin: 0.2rem 0rem;
  font-size: 0.9rem;
}

.Empty-Cart-Text a {
  color: white;
  display: inline-block;
  background-color: #fc8019;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 1rem 0rem;
}

.Food-Cart-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.75rem;
}
