.Food-Cart {
  margin: 0.5rem;
  position: relative;
  max-width: 280px;
  height: 380px;
  position: relative;
  text-align: left;
  padding: 1rem 0rem;
}

.Food-Cart:hover {
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.17);
}

.Food-Cart:hover {
  cursor: pointer;
}

.Food-Cart-Img-Div {
  display: inline-block;
  margin: 0.45rem;
  position: relative;
  overflow: hidden;
}

.Food-Cart-Img-Div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}

.Food-Cart-Img-Div img:hover {
  transform: scale(1.1);
}

.Food-Cart .Food-Cart-Text-Div {
  margin-left: 0.65rem;
  line-height: 1.5rem;
}

.Food-Cart .Name {
  margin: 0.5rem 0rem;
  width: 95%;
}

.Food-Cart .Price {
  margin-top: 0.35rem;
}

.Food-Cart button {
  padding: 0.25rem 0.75rem;
  border: none;
  margin-top: 0.9rem;
  background-color: rgb(136, 161, 136);
  color: rgba(255, 255, 255, 1);
}

.Food-Cart button:hover {
  cursor: pointer;
}
