*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Navigator .image-logo {
  height: 75px;
  width: 100%;
}

.Navigator .image-logo img {
  height: 100%;
}

.Navigator ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Navigator ul li {
  padding: 0rem 0.75rem;
}

.Navigator ul li a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.Nav-Links {
  flex: 2;
}

.Navigator .cart-icon {
  font-size: 1.35rem;
}
