.Main-Menu {
  max-width: 75%;
  margin: auto;
  margin-top: 2rem;
}

.Intro-Div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.First-Intro {
  text-align: left;
  margin-left: 0.2rem;
  padding-top: 0.3rem;
  width: 30%;
}

.First-Intro > p:first-child {
  font-weight: 800;
}

.First-Intro > p:nth-child(2) {
  margin: 0.24rem 0rem;
}

.First-Intro > p:nth-child(2),
.First-Intro > p:nth-child(3) {
  color: #848591;
}

.Second-Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.Second-Intro > div,
.Second-Intro p {
  padding: 0.5rem;
}

.Second-Intro > div p {
  display: inline-block;
}

@media (max-width: 530px) {
  .Intro-Div {
    display: flex;
    flex-direction: column;
  }
  .First-Intro {
    width: 100%;
    margin: 0.75rem 0rem;
    padding: 0.2rem;
    line-height: 2rem;
  }
}
