.QA {
  background-color: green;
  margin: 0.25rem;
  padding: 0.45rem;
}

.QA p {
  margin: 0.35rem 0rem;
}

.question {
  background-color: red;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.question i {
  color: orange;
}

.question i:hover {
  cursor: pointer;
}
