.QA {
  margin: 0.25rem;
  padding: 0.45rem;
  background-color: rgba(212, 204, 204, 0.79);
}

.QA p {
  margin: 0.35rem 0rem;
}

.Answer-Div {
  overflow: hidden;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ans p {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.35rem;
}

.show {
  height: 120px;
}

.hide {
  height: 0px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.question i {
  color: rgb(39, 35, 28);
}

.question i:hover {
  cursor: pointer;
}
