.QA {
  margin: 0.25rem;
  padding: 0.45rem;
  background-color: white;
  box-shadow: 0 10px 12px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.QA p {
  margin: 0.35rem 0rem;
}

.Answer-Div {
  overflow: hidden;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ans p {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.35rem;
  color: rgb(110, 107, 107);
}

.show {
  height: 120px;
}

.hide {
  height: 0px;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
}

.question i {
  color: rgb(39, 35, 28);
}

.question i:hover {
  cursor: pointer;
}
