*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  color: white;
  padding: 0.85rem 2.5rem;
  background-color: rgba(0, 0, 0, 0.192);
  position: fixed;
  width: 100%;
}

.Navigator ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Navigator ul li {
  padding: 0.25rem 1.75rem;
  position: relative;
  margin: 0rem 0.35rem;
}

.Navigator ul li:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 50%;
  border-radius: 2px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #f79d53;
  margin-top: 0.2rem;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 400ms;
}

.Navigator ul li:hover:after {
  opacity: 1;
  cursor: pointer;
}

.Navigator ul li a {
  text-decoration: none;
  display: inline-block;
  color: white;
}

.Navigator .cart-icon a {
  font-size: 1.5rem;
  transition-property: color;
  transition-duration: 450ms;
  color: white;
  text-decoration: none;
}

.Navigator .cart-icon a:hover {
  color: #f79d53;
  cursor: pointer;
}
