.CravingsDiv {
  color: white;
  padding: 10rem 0rem;
  position: relative;
  z-index: 3;
  font-size: 1.75rem;
  text-align: left;
  margin-left: 3rem;
}

.CravingsDiv > p span {
  font-size: 2rem;
}

.Display-Text {
  width: 45%;
  line-height: 3rem;
  text-transform: uppercase;
}

.CravingsDiv .inputDiv {
  margin: 1.5rem 0rem;
  display: inline-block;
  height: 2rem;
  width: 220px;
  position: relative;
}

.CravingsDiv .inputDiv input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 1.45rem;
}

.CravingsDiv .inputDiv button {
  position: absolute;
  height: 100%;
  right: 0;
  transform: translateX(100%);
  padding: 0.5rem;
  border: none;
}

.CravingsDiv .inputDiv button i {
  font-size: 0.85rem;
}

.inputDiv input:focus {
  outline: none;
}
