.About-Intro {
  max-width: 70%;
  margin: 1.4rem auto;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #423f3f;
}

.Services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.Food-Images {
  margin-top: 2rem;
}

.Food-Images-1,
.Food-Images-2 {
  display: flex;
  flex-direction: row;
}

.Food-Images-1 > div,
.Food-Images-2 > div {
  height: 200px;
  width: 25%;
  position: relative;
  overflow: hidden;
}

.Food-Images-1 > div img,
.Food-Images-2 > div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition-property: transform;
  transition-duration: 500ms;
}

.Food-Images-1 > div:hover img,
.Food-Images-2 > div:hover img {
  transform: scale(1.1);
}

.Food-Images-1 > div::after,
.Food-Images-2 > div::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.208);
  transition-property: all;
  transition-duration: 500ms;
}

.Food-Images-1 > div:hover::after,
.Food-Images-2 > div:hover::after {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
