.About-Intro {
  max-width: 70%;
  margin: 1.4rem auto;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: rgba(35, 29, 29, 0.895);
  font-style: italic;
  word-spacing: 0.2rem;
}

.Services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.Food-Images {
  margin-top: 2rem;
}

.Food-Images-1,
.Food-Images-2 {
  display: flex;
  flex-direction: row;
}

.Testimonials {
  background: url('./Images/testimonials-img.jpg') center center/cover;
  color: white;
  position: relative;
  background-attachment: fixed;
}

.Testimonials > h1 {
  position: relative;
  z-index: 2;
}

.Testimonials::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.799);
  z-index: 1;
}

.Review-Wrapper {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.About-Div .Review {
  margin: 0.35rem;
  font-size: 1.2rem;
  text-align: left;
  line-height: 2rem;
  padding: 1rem;
}

.About-Div .Review .Profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.About-Div .Review .Profile img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.About-Div .Review .Profile span {
  margin-left: 0.45rem;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .Services {
    display: flex;
    flex-direction: column;
  }
  .Review-Wrapper {
    flex-direction: column;
  }
  .Review {
    margin: 0.4rem 0rem;
  }
}
