*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navigator {
  display: flex;
  flex-direction: row;
  background-color: violet;
  justify-content: space-evenly;
  align-items: center;
}

.Navigator ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.Navigator ul li {
  padding: 0rem 0.75rem;
}

.Navigator input {
  padding: 0.45rem 0.85rem;
  border: none;
}

.Navigator .input-box {
  background-color: white;
}

.Navigator .input-box i {
  font-size: 0.8rem;
  margin-left: 0.75rem;
}

.Navigator input:focus {
  outline: none;
}

.Navigator .cart-icon {
  font-size: 1.35rem;
}
