.searchbar {
  color: white;
  padding: 5rem 0rem;
  position: relative;
  z-index: 3;
}

.CravingsDiv {
  font-size: 1.75rem;
  text-align: left;
  margin-left: 3rem;
}

.CravingsDiv .inputDiv {
  margin: 1rem 0rem;
}

.CravingsDiv input {
  padding: 0.55rem 1.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.inputDiv input:focus {
  outline: none;
}
