.searchbar {
  height: 240px;
  color: white;
  background: url('../SearchBarComponent/searchbarImage.jpg') no-repeat right
    center/cover;
  position: relative;
}

.searchbar:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 2;
}

.CravingsDiv {
  position: relative;
  z-index: 3;
  font-size: 1.75rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  margin-left: 3rem;
}

.CravingsDiv .inputDiv {
  margin: 1rem 0rem;
}

.CravingsDiv input {
  padding: 0.55rem 1.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.inputDiv input:focus {
  outline: none;
}
