.RestaurantWrapperDiv {
  padding: 2rem;
  text-align: center;
  font-size: 0.85rem;
}

.RestaurantWrapperDiv > h1 {
  position: relative;
  padding: 1rem;
  font-weight: 100;
}

.RestaurantWrapperDiv > h1::after {
  position: absolute;
  content: '';
  height: 2.5px;
  width: 15%;
  background-color: orange;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}
