.allRestaurants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.75rem;
}

.Filters {
  margin: 1rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.25rem;
  position: relative;
}

.Filters ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Filters::after {
  position: absolute;
  content: '';
  margin: 0rem 1.2rem;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #e9e9eb;
}

.Filters ul li {
  position: relative;
  margin: 0rem 0.1rem;
}

.Filters ul li::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  height: 1.75px;
  background-color: #3d4152;
  width: 75%;
  transition: opacity 200ms ease-in;
  opacity: 0;
}

.Filters ul li:hover::after {
  opacity: 1;
}

.Filters ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: #687289;
  font-size: 1.06rem;
  transition: color 200ms ease-in;
}

.Filters ul li a:hover {
  color: #3d4152;
}
